<div class="row">
  <div class="col text-center">
          <label>Collected form values are </label><br/><br/>

          <label>username : {{onboardingData.storeName}}</label><br/>                   
        
          <label>password : {{onboardingData.storePass}}</label><br/>        

          <label>Are products listed : {{onboardingData.productListExist}}</label><br/>     

          <label>Selected product listing : {{onboardingData.productList}}</label><br/>         

          <button class="m-2" (click)="goToSecondScreen()">Back</button>      
 

  </div>
</div>