// Variables

// =============================================================================
// Fonts
// =============================================================================

$font-regular: 'OpenSans';
$font-light: 'OpenSansLight';
$font-semibold: 'Open Sans Semibold';
$font-bold: 'Open Sans Bold';
$font-extrabold: 'Open Sans ExtraBold';

// =============================================================================
// Colors
// =============================================================================

$wg-sky-blue: #00c9ff;
$wg-dark-blue: #263A60;
$wg-orange: #fb8403;
$wg-dark-gray: #43484c;
$wg-light-gray: #909ca4;

$primary-color: $wg-sky-blue;
$secondary-color: $wg-orange;

